@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>Jeremy J Long's Markvii final project. This assignment was given to us to display diffent concepts that we learned thru the course of this class.
    This project was built in Visual Studio, with the Asp.net framework. Languages used were C#, HTML, CSS,  and BootStrap. I also used SQL using MYSQL Workbench.
    The website has the ability to connect to my database using a connection string.  The CRUD command are functional on this site as well, 
    because you and create new values to my database via the site.  </p>
