@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Developer:</strong> Jeremy Long<br />
    <strong>Contact information:</strong> <a href="mailto:Jlong.223.jl@gmail.com">Jlong.223.jl@gmail.com</a>
</address>
<abbr title="Phone">P:</abbr>
    256.765.0071

<img src="~/images/IMG_2097[75].JPG" class="img-thumbnail" style="border-image-width :375px; max-height:375px; margin-left:300px; image-resolution:from-image; zoom:initial" />
