
<h2 style="color:black;background-color:silver;font-family:fantasy;font-weight:bolder">New Quote</h2>
<style>
    body {
        background: url("/images/background-images-for-music-websites-9.jpg") no-repeat center center fixed;
        background-size: 25%;
        background-repeat: repeat;
        scrollbar-arrow-color: red
    }
</style>

<form style="color:red; font-weight:bold; background-color:silver" asp-action="Add" asp-controller="quotes">
   
    
     Quote:<input style="color:red; font-style:italic; font-weight:bolder" type="text" name="quote">
    Song Title: <input type="text" name="song">
    Artist: <input type="text" name="artist">
    Genre: <input type="text" name="genre">
    <input type="submit" value="Submit" style="color:red">
</form> 

<body><<img src="~/images/1656f001a5cfa47.jpg" style="margin-left:350px; padding-top:158px; padding-bottom:200px; "class="img-circle" >


    <p style="font-family:fantasy; font-size:xx-large; font-display:swap;color:red;background-color:silver;text-align:center;font-weight:bolder"> Remember The Music</p>


    </body>

<audio controls autoplay>
    <source src="~/NewFolder/Empire_Cast_-_Remember_the_Music_feat._Jennifer_Hudson_(mp3.pm)%20(1).mp3" type="audio/mpeg" />
</audio>